<p style="text-align: center; font-size: 1.2rem">
  Use o seguinte código PIN para gerar uma nova senha:
</p>
<p style="width: 100%; text-align: center; font-size: 3rem">
  <strong> <%= codePIN %> </strong>
</p>
