<html
  lang="pt-br"
  style="
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
  "
  valign="baseline"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link href="./css/index.css" rel="stylesheet" /> -->
    <title>EDP email</title>

    <style>
      blockquote:before {
        content: none;
      }
      blockquote:after {
        content: none;
      }
      q:before {
        content: none;
      }
      q:after {
        content: none;
      }
      :focus {
        outline: 0;
      }
    </style>
  </head>
  <body
    style="
      background: transparent;
      border: 0;
      font-size: 16px;
      margin: 0;
      outline: 0;
      padding: 2rem;
      vertical-align: baseline;
      line-height: 1;
      color: #23496d;
      font-family: Arial, sans-serif;
    "
    valign="baseline"
  >
    <header style="background-color: #212e3e; padding: 10px" bgcolor="#212e3e">
      <div
        style="
          background: transparent;
          border: 0;
          font-size: 100%;
          margin: 0;
          outline: 0;
          padding: 0;
          vertical-align: baseline;
        "
        valign="baseline"
      >
        <img
          src="cid:logo"
          alt="logo da edp"
          class="header__logo"
          style="
            background: transparent;
            border: 0;
            font-size: 100%;
            margin: 0;
            outline: 0;
            padding: 0;
            vertical-align: baseline;
            height: 40px;
            width: 50px;
          "
          valign="baseline"
          height="70"
          width="70"
        />
      </div>
    </header>
    <main>
      <h2
        class="titulo"
        style="
          background: transparent;
          border: 0;
          font-size: 2rem;
          margin: 0;
          outline: 0;
          padding: 0;
          vertical-align: baseline;
          margin-top: 1rem;
          text-align: center;
        "
        valign="baseline"
        align="center"
      >
        Bem-vindo ao Sistema Interno de Gerenciamento da EDP
      </h2>
      <div
        class="apresentacao"
        style="
          background: transparent;
          border: 0;
          font-size: 1.1rem;
          margin: 0;
          outline: 0;
          padding: 0;
          vertical-align: baseline;
          margin-top: 1rem;
        "
        valign="baseline"
      >
        <p
          style="
            background: transparent;
            border: 0;
            font-size: 100%;
            margin: 0;
            outline: 0;
            padding: 0;
            vertical-align: baseline;
          "
          valign="baseline"
        >
          É com grande prazer que damos as boas-vindas ao nosso serviço central
          de gerenciamento de recursos. Este email é parte essencial do nosso
          processo de verificação e autenticação do sistema, garantindo que suas
          interações conosco sejam seguras e eficientes. Estamos comprometidos
          em fornecer um suporte excepcional e soluções que atendam às suas
          necessidades empresariais. Se surgirem dúvidas ou se precisar de
          assistência adicional, nossa equipe está à disposição para ajudar.
        </p>
        <p
          class="apresentacao__subinfo"
          style="
            background: transparent;
            border: 0;
            font-size: 1.3rem;
            margin: 0;
            outline: 0;
            padding: 0;
            vertical-align: baseline;
            margin-top: 2rem;
            text-align: center;
          "
          valign="baseline"
          align="center"
        >
          <strong
            style="
              background: transparent;
              border: 0;
              font-size: 100%;
              margin: 0;
              outline: 0;
              padding: 0;
              vertical-align: baseline;
            "
            valign="baseline"
          >
            Segue o conteudo da menssagem</strong
          >
        </p>
      </div>
      <div
        class="divider"
        style="
          background: transparent;
          border: 0;
          font-size: 100%;
          margin: 0;
          outline: 0;
          padding: 0;
          vertical-align: baseline;
          background-color: #212e3e;
          border-radius: 10px;
          height: 1px;
          margin-top: 2rem;
        "
        valign="baseline"
        bgcolor="#212e3e"
        height="1"
      ></div>
      <div
        class="container-content"
        style="
          background: transparent;
          border: 0;
          font-size: 100%;
          margin: 0;
          outline: 0;
          padding: 0;
          vertical-align: baseline;
          color: black;
          padding-top: 4rem;
        "
        valign="baseline"
      >
        <%- conteudo %>
      </div>
    </main>
  </body>
</html>
